* {
  box-sizing:border-box;
  font-size:16px;
  margin:0;
  padding:0;
}
.row {
  padding-top:15px;
  padding-bottom:15px;
}
button a {
  text-decoration:none!important;
}
.container {
  max-width:960px;
  margin:0 auto;
}
#arcControl input[type=range] {
  width:200px!important;
  margin: 0 5px;
}