<div id="content" ng-controller="arcCtrl">
  <div id="arcControl">
    <table>
      <tr>
        <td>Orange:</td>
        <td><input type="range" min="0" max="100" ng-model="values.main" /></td>
        <td>{{values.main}}</td>
      </tr>
      <tr>
        <td>Blue:</td>
        <td><input type="range" min="0" max="100" ng-model="values.min" /></td>
        <td>{{values.min}}</td>
      </tr>
      <tr>
        <td>Red:</td>
        <td><input type="range" min="0" max="100" ng-model="values.expected" /></td>
        <td>{{values.expected}}</td>
      </tr>
    </table>
  </div>
  <div id="arc_overlapping" class="col-md-6" arc_overlapping></div>
  <div id="arc_regular" class="col-md-6" arc_regular></div>
</div>